# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Environment
.venv
.env

# Coverage
.coverage
.coverage.*
htmlcov/
coverage.xml

# Playground
playground/

# Draft documentation
docs/drafts/
